<section class="container text-light">
    <section class="row justify-content-center g-5">
        <img class="img-fluid w-25 pt-4"
            src="https://img.freepik.com/free-vector/basic-rgb_53876-36895.jpg?w=740&t=st=1712003863~exp=1712004463~hmac=38723884e4ae53f1c3934c616af739f34c132f5302279543321ce5e0faa1f491"
            alt="Logo">
        <div class="bg-dark border rounded text-center col-11" id="question">
            <!-- STUB - Question template -->
            <!-- <h1 id="question">This is where the question text goes?</h1> -->
            <div class="row justify-content-around">

            </div>
        </div>


        </div>
    </section>
</section>